<div class="header" th:fragment="header">
  <ul id="nav">
    <a href="#slider">
      <img src="\assets\img\logo.jpg" class="logo" alt="Logo" />
    </a>
    <li><a href="#">Calendar</a></li>
    <li>
      <a href="#">Results & Standings</a>
      <ul class="subnav1">
        <li><a href="#">Results</a></li>
        <li><a href="#">Standings</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Riders & Teams</a>
      <ul class="subnav2">
        <li><a href="#">Riders</a></li>
        <li><a href="#">Teams</a></li>
      </ul>
    </li>
    <div class="login">
      <li><a href="login.html">Login | Sign up</a></li>
    </div>
  </ul>
</div>
